header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #020203;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.nav__logo img {
  display: block;
  height: 60px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.menu__link {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
