.chart__session {
  background-color: #ff0000;
  border-radius: 5px;
  position: relative;
}

.chart__session svg {
  display: block;
}

.session__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 20px;
  padding: 20px 0;
  width: 120px;
}

.session__title h2 {
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
