.announce__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0;
}

.announce__title span {
  color: #ff0101;
}

.chart {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 1fr;
  gap: 0px 30px;
}

.chart__aside {
  display: flex;
  flex-direction: column;
}
